<%= form_with url: clocks_path, method: :post do |form| %>
  <div class="inline">
    <%= form.submit @action, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
